<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #loginBox{
            background-color:brown;
            width:400px;
            height:400px;
            margin:0 auto;
        }

    </style>



</head>
<body>
    
    <div id="loginBox">
        <form method="post" action="/login">
            <input type="text" class="userInfo" id="userid"/>
            <input type="password" class="userInfo" id="userpw"/>
            <input type="button" value="로그인"/>
        </form>
        <a href="/regist">회원가입</a>
    </div>
    


</body>

<script>
    function getLogin(){
        var [id,pw] = document.getElementsByClassName("userInfo");
        var [id,pw] = [id.value,pw.value];

        axios({
            method:"GET",
            url: `http://220.67.231.91:80/getMember/${id}/${pw}`,
        }).then((data)=>{
            return data;
        }).then((res)=>{
            list = res.data;
            if(list == '202'){
                window.alert("로그인 정보가 틀립니다");
            }else if(list == '204'){
                
            }
        })
    }
</script>

</html>