<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #userInfoContainer{
            display:flex;
        }
        .UITB_T{
            margin-bottom:10px;
            margin-top:10px;
        }
        .UITB_I{
            margin-bottom:8.5px;
            margin-top:8.5px;
        }
    </style>
</head>
<body>
    <p>회원가입 페이지입니다</p>
    <div id="registBox">
        <form action="/auth/regist">
            <div id="userInfoContainer">
                <div id="userInfoTextBox">
                    <p class="UITB_T">아이디</p>
                    <p class="UITB_T">비밀번호</p>
                    <p class="UITB_T">성함</p>
                    <p class="UITB_T">생일</p>
                    <p class="UITB_T">이메일</p>
                    <p class="UITB_T">휴대폰</p>
                </div>
                <!--userInfoTextBox end-->
                <div id="userInfoBox">
                    <p class="UITB_I">: <input type="text" class="userInfo"/></p>
                    <p class="UITB_I">: <input type="password" class="userInfo"/></p>
                    <p class="UITB_I">: <input type="text" class="userInfo"/></p>
                    <p class="UITB_I">: <input type="date" id="birthday"/></p> <!--year , month ,day 로 나눠야함-->
                    <p class="UITB_I">: <input type="email" class="userInfo"/></p>
                    <p class="UITB_I">: <input type="text" class="userInfo"/></p>
                    <input id="registBtn" type="button" onclick="getRegist();" value="회원가입"/>
                </div>
                <!--userInfoBox end-->
            </div>
            <!--userInfoContainer end-->
        </form>
        <!-- /auth/regist from end-->
    </div>
    <!-- registBox end -->
</body>


<script>
    function getRegist(){
        var [userid,userpw,username,useremail,userphone] = document.getElementsByClassName("userInfo");
        var [userid,userpw,username,useremail,userphone] = [userid.value,userpw.value,username.value,useremail.value,userphone.value];

        var [year,month,day] = document.getElementById("birthday").value.split("-");
        const data = {
                'password':userpw,
                'name':username,
                'useremail':useremail,
                'userphone':userphone,
                'year':year,
                'month':month,
                'day':day,
                //'userWalletDist':userWalletDist
            }
            console.log(`${typeof(userid)} , ${userpw} , ${userphone}`);
            
            
            axios({
                method:"POST",
                url: `http://220.67.231.91:80/joinMember/${userid}`,
                data: qs.stringify(data),
            }).then((res)=>{
                console.log(`서버와 연결 성공`);
                location.href = "/";
            }).catch(error=>{
                console.log(`서버와 연결 실패 ${error}`);
                throw new Error(error);
            });

    }
</script>
</html>