<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/index.css"/>
    <script>
        function checkUser() {
            var [userid,userpw] = document.getElementsByClassName("temp");
            var [userid,userpw] = [userid.value,userpw.value];

            const data = {
                id:userid,
                password:userpw
            }

            let qsData = Qs.stringfy(data);
            axios({
                url: 'web/user/login',
                method: 'POST',
                baseURL: `http://220.67.231.91:80`,
                data: Qs.stringfy(data),
            }).then((res) => { // 로그인 성공하면
                console.log(`로그인 정보 보냄 코드: ${res.status}, 메시지: ${JSON.stringfy(res.data)}`);
                location.href = "http://220.67.231.91:80/web/mypage";
            }).catch(error=>{
                console.log(`로그인 정보 보내기 실패 ${error}`);
                throw new Error(error);
            })
        }
    </script>
</head>
<body>
    <div id="container">
        
        <div id="middleContainer">

            <div id="middleLogo">
                <!-- 로고 들어갈 자리 -->
                <video loop muted autoplay width="100%" height="100%">
                    <source src="/webimg/MP4_movelogo.mp4">
                </video>

            </div>
            <!--div id : middleLogo 끝-->
            <div id="middleForm">

                <form id="middleFormInnerForm">
                    <p><input class="temp" type="text" id="userid" name="userid" placeholder="USER ID"/></p>
                    <p><input class="temp" type="password" id="userpw" name="userpw" placeholder="USER PW"/></p>
                    <p><input type="button" value="로그인" onclick="checkUser()"/></p>
                    


                    <div id="middleFormInnerFormMenuList">
                        <a href="#">비밀번호 찾기</a> /
                        <a href="#">아이디 찾기</a> /
                        <a href="#">회원가입</a>
                    </div>
                    <!-- form id : middleFormInnerFormMenuList 끝 -->
                </form>
                <!--form id : middleFormInnerForm 끝-->
            </div>
            <!--div id : middleForm 끝-->
        </div>
        <!--div id : middleContainer 끝-->
    </div>
    <!--div id : Container 끝-->
</body>
</html>