<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/menuList.css"/>

</head>
<body>
    

    <div id="container">
        <!-- 맨위 왼쪽의 로고와 오른쪽의 메뉴들을 담는 topcontainer -->
        <div id="topLongContainer" class="bg_cont">
            
            <div id="topLongContainerInnerLeftLogoImg" class="bg_cont">
                <img id="topLongContainerInnerLeftLogoImg_Img" src="/webimg/HSC_mini.png"/>
            </div>
            <!--topLongContainerInnerLeftLogoImg 끝-->
            <!-- 맨위 오른쪽 메뉴들 (홈페이지, 로그인/회원가입 , 학습 , 메뉴 등-->
            <div id="topLongContainerInnerRightMenuList" class="bg_cont">
                <a href="introduce.html">홈페이지</a>
                <a href="#">마켓</a>
                <a href="menuList.html" id="learning">학습</a>
                <a href="mypage.html">My page</a>
                <a href="#">메뉴</a>
            </div>
            <!--topLongContainerInnerRightMenuList 끝-->
        </div>
        <!-- topLongContainer 끝 -->

        <div id="contentsContainer">

            <div id="contentsContainerInnerMenuList">
                <div class="eachMenu">
                    <p class="eachMenuInnerText"><a href="/web/workBookPython"><img src="/webimg/체크인 아이콘 1.png"/></a></p>
                    <p class="eachMenuInnerText">문제 학습</p>
                </div>
                <!--eachMenu 끝-->
                <div class="eachMenu">
                    <p class="eachMenuInnerText"><a href="/web/video"><img src="/webimg/체크인 아이콘 2.png"/></a></p>
                    <p class="eachMenuInnerText">동영상 강의</p>
                </div>
                <!--eachMenu 끝-->
                <div class="eachMenu">
                    <p class="eachMenuInnerText"><a href="/web/mypage"><img src="/webimg/체크인 아이콘 3.png"/></a></p>
                    <p class="eachMenuInnerText">학습 내역</p>
                </div>
                <!--eachMenu 끝-->
            </div>
            <!-- contentsContainerInnerMenuList 끝 -->
        </div>
        <!--contentsContainer 끝-->

    </div>
</body>
</html>