<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/multipleChoice.css"/>
</head>
<body>
    <input type="hidden" id="ipConfig" value="<%-include('./ipConfig.ejs')%>"/>
    <div id="container">
        <div id="topLongContainer" class="bg_cont">
            
            <div id="topLongContainerInnerLeftLogoImg" class="bg_cont">
                <a href="<%-include('./ipConfig.ejs')%>/web/introduce"><img id="topLongContainerInnerLeftLogoImg_Img" src="/webimg/HSC_mini.png"/></a>
                <div id="topLongContainerTitleText">
                    <p class="topLongContainerTitleTextFirstText">문제학습 〉 &nbsp</p>
                    <!--<p class="topLongContainerTitleTextFirstText">코딩테스트 〉 &nbsp</p>-->
                    <p class="topLongContainerTitleTextSecondText">문제 〉 &nbsp</p>
                </div>
                <!--topLongContainerTitleText 끝-->
            </div>
            <!--topLongContainerInnerLeftLogoImg 끝-->
        </div>
        <!-- topLongContainer 끝 -->



        <div id="questionTitle">
            <p>키워드 / 객관식 (총 10문제)</p>
        </div>

        <!--내부 본격적인 퀴즈 문제 10개 -->
        <div id="contentsContainer">
            <!--문제 하나당-->
            <div class="question">
                <!--점수 칸-->
                <div id="score">
                    <p>문제 #1</p>
                </div>
                <!--문제 칸-->
                <div id="que">
                    문제
                </div>
            </div>
            <div class="question">
                <!--점수 칸-->
                <div id="score">
                    <p>문제 #2</p>
                </div>
                <!--문제 칸-->
                <div id="que">
                    문제
                </div>
            </div>
            <div class="question">
                <!--점수 칸-->
                <div id="score">
                    <p>문제 #3</p>
                </div>
                <!--문제 칸-->
                <div id="que">
                    문제
                </div>
            </div>
            <div class="question">
                <!--점수 칸-->
                <div id="score">
                    <p>문제 #4</p>
                </div>
                <!--문제 칸-->
                <div id="que">
                    문제
                </div>
            </div>
            <div class="question">
                <!--점수 칸-->
                <div id="score">
                    <p>문제 #5</p>
                </div>
                <!--문제 칸-->
                <div id="que">
                    문제
                </div>
            </div>
            <div class="question">
                <!--점수 칸-->
                <div id="score">
                    <p>문제 #6</p>
                </div>
                <!--문제 칸-->
                <div id="que">
                    문제
                </div>
            </div>
            <div class="question">
                <!--점수 칸-->
                <div id="score">
                    <p>문제 #7</p>
                </div>
                <!--문제 칸-->
                <div id="que">
                    문제
                </div>
            </div>
            <div class="question">
                <!--점수 칸-->
                <div id="score">
                    <p>문제 #8</p>
                </div>
                <!--문제 칸-->
                <div id="que">
                    문제
                </div>
            </div>
            <div class="question">
                <!--점수 칸-->
                <div id="score">
                    <p>문제 #9</p>
                </div>
                <!--문제 칸-->
                <div id="que">
                    문제
                </div>
            </div>
            <div class="question">
                <!--점수 칸-->
                <div id="score">
                    <p>문제 #10</p>
                </div>
                <!--문제 칸-->
                <div id="que">
                    문제
                </div>
            </div>

            
            
        </div>
        <!-- contentsContainer 끝 -->


        <div id="bottomContainer">
            <div id="bottomContainerInnerAtagContainer">
                <div class="bottomContainerInnerLeftAtagDiv">
                    <a href="#">질문하기</a>
                </div>
            </div>
            <!--bottomContainerInnerAtagContainer 끝-->
            <div class="bottomContainerInnerRightAtagDiv">
                <button type="button">다음 문제로</button>
            </div>

        </div>
        <!-- bottomContainer 끝-->
    </div>    


</body>
</html>