<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/mypage.css"/>

</head>
<body>
    <div id="container">
        <!-- 맨위 왼쪽의 로고와 오른쪽의 메뉴들을 담는 topcontainer -->
        <div id="topLongContainer" class="bg_cont">
            
            <div id="topLongContainerInnerLeftLogoImg" class="bg_cont">
                <img id="topLongContainerInnerLeftLogoImg_Img" src="/webimg/HSC_mini.png"/>
            </div>
            <!--topLongContainerInnerLeftLogoImg 끝-->
            <!-- 맨위 오른쪽 메뉴들 (홈페이지, 로그인/회원가입 , 학습 , 메뉴 등-->
            <div id="topLongContainerInnerRightMenuList" class="bg_cont">
                <a href="#">홈페이지</a>
                <a href="#">로그인 / 회원가입</a>
                <a href="#">학습</a>
                <a href="#" id="mypage">My page</a>
                <a href="#">메뉴</a>
            </div>
            <!--topLongContainerInnerRightMenuList 끝-->
        </div>
        <!-- topLongContainer 끝 -->

        <div id="contentsContainer">
            <center><h1>My Page</h1></center>

            <div id="contentContainerTopInfoDesk">
                <video loop muted autoplay width="100%" id="contentContainerTopInfoDesk_Img" height="100%" style="z-index:2;">
                    <source src="/webimg/MP4_movering.mp4">
                </video>
                <!--<img id="contentContainerTopInfoDesk_Img" src="/apkimg/HSC_ring.png">-->
                <div class="contentContainerTopInfoDesk_Img_Text" style="z-index:1;">
                    <p id="total_point">Total Point</p>
                    <p id="point">8000</p>
                </div>
            </div>
            <!-- contentContainerTopInfoDesk 끝 -->

            <div id="solvedQuestionList">

                <ul id="solvedQuestionList_Title">
                    <li><div class="ListInnerTopTitle">문제유형</div></li>
                    <li><div class="ListInnerTopTitle">문제번호</div></li>
                    <li><div class="ListInnerTopTitle">날짜</div></li>
                    <li><div class="ListInnerTopTitle">포인트</div></li>
                </ul>
                <!--여기서 이제 진짜 서버에서 넘어온 data들 for loop -->
                <table id="solvedQuestionList_each_question">
                    <tr>
                        <td class="tb_left_bd" >객관식</td>
                        <td class="tb_left2_bd">#01</td>
                        <td class="tb_left3_bd">2022/08/01</td>
                        <td class="tb_left4_bd">100</td>
                    </tr>
                    <tr>
                        <td class="tb_left_bd" >객관식</td>
                        <td class="tb_left2_bd">#01</td>
                        <td class="tb_left3_bd">2022/08/01</td>
                        <td class="tb_left4_bd">100</td>
                    </tr>
                    <tr>
                        <td class="tb_left_bd" >객관식</td>
                        <td class="tb_left2_bd">#01</td>
                        <td class="tb_left3_bd">2022/08/01</td>
                        <td class="tb_left4_bd">100</td>
                    </tr>
                    <tr>
                        <td class="tb_left_bd" >객관식</td>
                        <td class="tb_left2_bd">#01</td>
                        <td class="tb_left3_bd">2022/08/01</td>
                        <td class="tb_left4_bd">100</td>
                    </tr>
                    <tr>
                        <td class="tb_left_bd" >객관식</td>
                        <td class="tb_left2_bd">#01</td>
                        <td class="tb_left3_bd">2022/08/01</td>
                        <td class="tb_left4_bd">100</td>
                    </tr>
                    <tr>
                        <td class="tb_left_bd" >객관식</td>
                        <td class="tb_left2_bd">#01</td>
                        <td class="tb_left3_bd">2022/08/01</td>
                        <td class="tb_left4_bd">100</td>
                    </tr>
                </table>
                
            </div>
            <!--solvedQuestionList 끝-->


        </div>
        <!--contentsContainer-->

    </div>
    <!--container 끝-->

</body>
</html>