<!DOCTYPE html>
<html lang="en" class="bg_cont">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js" integrity="sha512-/l6vieC+YxaZywUhmqs++8uF9DeMvJE61ua5g+UK0TuHZ4TkTgB1Gm1n0NiA86uEOM9JJ6JUwyR0hboKO0fCng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/regist1.css"/>
    <script>
        const ipConfig = require('../config/ipConfig');
        var checkDupId = false;

        function checkUserIdNull(){
            var useridInput = document.getElementById("userid").value;
            if (useridInput == "" || useridInput == null || useridInput == undefined){
                window.alert("userid가 비어있습니다. 입력해주세요.");
                useridInput.focus();
                
                return false;
            }
            return true;
        }

        function checkUserPwNull(){
            var userpwInput = document.getElementById("userpw").value;
            if (userpwInput == "" || userpwInput == null || userpwInput == undefined){
                window.alert("userpw가 비어있습니다. 입력해주세요.");
                userpwInput.focus();
                return false;
            }
            return true;
        }

        function checkUserEmailNull(){
            var useremailInput = document.getElementById("useremail").value;
            if (useremailInput == "" || useremailInput == null || useremailInput == undefined){
                window.alert("useremail이 비어있습니다. 입력해주세요.");
                useremailInput.focus();
                return false;
            }
            return true;
        }

        function checkUserNameNull(){
            var usernameInput = document.getElementById("username").value;
            if (usernameInput == "" || usernameInput == null || usernameInput == undefined){
                window.alert("username이 비어있습니다. 입력해주세요.");
                usernameInput.focus();
                return false;
            }
            return true;
        }

        function checkUserPhoneNULL(){
            var userphoneInput = document.getElementById("phonenumber").value;
            if (userphoneInput == "" || userphoneInput == null || userphoneInput == undefined){
                window.alert("phonenumber가 비어있습니다. 입력해주세요.");
                userphoneInput.focus();
                return false;
            }
            return true;
        }

        function join() {
            if(!checkUserIdNull()) {
                return false;
            }
            
            if(!checkUserPwNull()) {
                return false;
            }

            if(!checkUserNameNull()){
                return false;
            }

            if(!checkUserEmailNull()) {
                return false;
            }

            if(!checkUserPhoneNULL()) {
                return false;
            }
            
            if(!checkDupId){
                window.alert("아이디 중복체크를 완료하세요");
                return false;
            }


            var [userid,userpw,username,useremail,userphone] = document.getElementsByClassName("regist_user");
            var [userid,userpw,username,useremail,userphone] = [userid.value,userpw.value,username.value,useremail.value,userphone.value];

            console.log('### userinfo list');
            console.log(userid);
            console.log(userpw);
            console.log(username);
            console.log(useremail);
            console.log(userphone);

            const data = {
                userid:userid,
                password:userpw,
                name:username,
                useremail:useremail,
                userphone:userphone,
            }

            let qsData = Qs.stringify(data);
            console.log(`###1 ${JSON.stringify(data)}`);
            console.log(`###2 ${qsData}`);

            axios({
                url: '/web/user/registUser',
                method: 'POST',
                baseURL: `${ipConfig}`,
                data: Qs.stringify(data)
            }).then((res)=>{
                console.log(`서버와 연결 성공 코드: ${JSON.stringify(res.status)}, 메시지: ${JSON.stringify(res.data)}`);
                location.href = `${ipConfig}/web/index`;
            }).catch(error=>{
                console.log(`서버와 연결 실패 ${error}`);
                throw new Error(error);
            });
        }

        function checkId() {
            var userid = document.getElementById("userid");
            var userid = userid.value;

            const data = { userid:userid }

            let qsData = Qs.stringify(data);
            console.log(`###1 ${JSON.stringify(data)}`);
            console.log(`###2 ${qsData}`);

            axios({
                url: `<%-include('./ipConfig.ejs')%>/web/util/checkIdDuplicate/${userid}`,
                method: 'GET',
                baseURL: `${ipConfig}`
            }).then((res)=>{
                if ( res.data == 200 ){
                    checkDupId = true;
                    window.alert("사용가능한 아이디입니다");
                } else {
                    checkDupId = false;
                    window.alert("중복된 아이디입니다");
                }
                console.log(`아이디 중복 확인코드 뭐지 ${res.data}`);
                console.log(`아이디 중복 확인 코드: ${res.data}, 메시지: ${JSON.stringify(res.data)}`);

            }).catch(error=>{
                console.log(`서버와 연결 실패 ${error}`);
                throw new Error(error);
            });
        }
    </script>

</head>
<body class="bg_cont">
    
    <div id="container">
        <!-- 맨위 왼쪽의 로고와 오른쪽의 메뉴들을 담는 topcontainer -->
        <div id="topLongContainer" class="bg_cont">
            
            <div id="topLongContainerInnerLeftLogoImg" class="bg_cont">
                <img id="topLongContainerInnerLeftLogoImg_Img" src="/apkimg/HSC_mini.png"/>
            </div>
            <!-- 맨위 오른쪽 메뉴들 (홈페이지, 로그인/회원가입 , 학습 , 메뉴 등-->
            <div id="topLongContainerInnerRightMenuList" class="bg_cont">
                <a href="<%-include('./ipConfig.ejs')%>/web/introduce">홈페이지</a>
                <a href="<%-include('./ipConfig.ejs')%>/web/market">제휴 스토어</a>
                <a href="<%-include('./ipConfig.ejs')%>/web/menuList">학습</a>
                <!--<a href="http://220.67.231.91:80/web/mypage">My page</a>-->
            </div>
        </div>
        <!-- topLongContainer 끝 -->

        <!-- 가운데 내용들 본격적인 시작 -->
        <div id="contentsContainer" class="bg_cont">
            <center><h1>회원가입</h1></center>

            <!-- 가운데 회원가입란 form 시작 -->
            <div id="contentsContainerInnerRegisterForm" class="bg_cont">
                <div id="contentsContainerInnerRegisterForm_Form">
                    <!--userid-->
                    <div class="innerForm_input">
                        <p>USER ID</p>
                        <div id="user">
                            <input class="regist_user" type="text" id="userid" placeholder="USER ID"/>
                            <!--userid 중복확인버튼-->
                            <button type="duplicate_btn" onclick="checkId()">확인</button>
                        </div>
                    </div>
                    <div class="innerForm_input">
                        <!--userpw-->
                        <p>USER PW</p>
                        <input class="regist_user" type="password" id="userpw" placeholder="USER PW"/>
                    </div>
                    
                    <div class="innerForm_input">
                        <!--username-->
                        <p>USER NAME</p>
                        <input class="regist_user" type="text" id="username" placeholder="USER NAME"/>
                    </div>
                    
                    <div class="innerForm_input">
                        <!--email-->
                        <p>EMAIL</p>
                        <div id="user">
                            <input class="regist_user" type="email" id="useremail" placeholder="EMAIL"/>
                        </div>
                    </div>
                    
                    <div class="innerForm_input">
                        <!--phone number-->
                        <p>PHONE NUMBER</p>
                        <div id="user">
                            <input class="regist_user" type="text" id="phonenumber" placeholder="PHONE NUMBER"/>
                        </div>
                    </div>
                    
                    <p id="agree">* 회원가입시 개인정보제공 동의로 간주됩니다 *</p>
                </div>
                <!--contentsContainerInnerRegisterForm 끝-->
            </div>
        </div>

        <div id="under_innerForm_registBtn">
            <div id="under_innerForm_blueDiv_inner_semiContainer">
                <center>
                    <button type="button" class="under_innerForm_blueDiv_innerBtn"
                    onclick="join()">가입하기</button>
                </center>
            </div>
        </div>
    </form>
    <!-- contentsContainerInnerRegisterForm_Form 끝 -->
                
                            
            </div>
            <!-- contentsContainerInnerRegisterForm 끝 -->


            <!-- 맨 아래의 휴대폰 번호로 로그인, SNS계정으로 로그인, 이메일로 로그인 시작 이거말고 광고띄우자;; -->
            <!-- 광고자리 -->            
            <div id="bottomAdvertise" class="bg_cont">
                
            </div>
            
        </div>
        <!-- contentsContainer 끝 -->
    </div>




</body>



</html>