<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/solution.css"/>
</head>
<body>
    <div id="container">
        <div id="topLongContainer" class="bg_cont">
            <input type="hidden" id="quizInfo_quizNum" value="'<%= quizInfo.quizNum %>'"/>
            <div id="topLongContainerInnerLeftLogoImg" class="bg_cont">
                <img id="topLongContainerInnerLeftLogoImg_Img" src="/webimg/HSC_mini.png"/>
                <div id="topLongContainerTitleText">
                    <p class="topLongContainerTitleTextFirstText">문제학습 〉 &nbsp</a>
                    <!--<p class="topLongContainerTitleTextFirstText">코딩테스트 〉 &nbsp</p>-->
                    <p class="topLongContainerTitleTextSecondText">문제</p>
                </div>
                <!--topLongContainerTitleText 끝-->
            </div>
            <!--topLongContainerInnerLeftLogoImg 끝-->
        </div>
        <!-- topLongContainer 끝 -->



        <!-- 문제이름 뜨게해놔야하는데 -->
        <div id="questionTitle">
            <p>문자열 내 마음대로 정렬하기</p>
        </div>

        <!--내부 본격적인 문제 표시란과 code 작성란, 실행결과란 작성 시작 -->
        <div id="contentsContainer">
            
            <div class="contentsContainerInnerContainers">
                <p class="contentsContainerInnerContainersInnerText" >문제 설명</p>

                <!-- 이 div안에 문제설명 text 불러와 박으면 된다. -->
                <div id="explainQuestionSpace">
                    <%= quizInfo.description %>
                    <div style="color: white;" id="input_output">
                        <p>Input</p>
                        <p><%= quizInfo.input %></p>
                        <p>Output</p>
                        <p><%= quizInfo.output %></p>
                    </div>
                </div>


            </div>
            <!-- contentsContainerInnerSolutionContainer 끝 -->

            <div class="contentsContainerInnerContainers">
                <p class="contentsContainerInnerContainersInnerText">solution.py</p>
                    <!--여기 이제 monaco 가 들어갈거다-->
                    <div id="monacoSpace">
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/loader.min.js"></script>
                        <script>
                            require.config({
                                paths: {
                                'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs'
                                }
                            });
                            require(["vs/editor/editor.main"], () => {
                                monaco.editor.create(document.getElementById('monacoSpace'), {
                                value: "",
                                language: 'python',
                                theme: 'vs-dark',
                                });
                            });
                        </script>
                    </div>

                    <p class="contentsContainerInnerContainersInnerText">실행 결과</p>
                    <!--여기 이제 실행결과가 뜰거고-->
                    <div id="resultSpace">
                        
                    </div>

            </div>
            <!-- contentsContainerInnerSolutionContainer 끝 -->

        </div>
        <!-- contentsContainer 끝 -->


        <div id="bottomContainer">
            <div id="bottomContainerInnerAtagContainer">
                <div class="bottomContainerInnerLeftAtagDiv">
                    <a href="#">질문하기</a>
                </div>
                
                <div style="width: 120px;" class="bottomContainerInnerLeftAtagDiv">
                    <a href="#">테스트 케이스 추가하기</a>
                </div>
            </div>
            <!--bottomContainerInnerAtagContainer 끝-->
            <div class="bottomContainerInnerRightAtagDiv">
                <button type="button" onclick="clicked()">제출하기</button>
            </div>

        </div>
        <!-- bottomContainer 끝-->
    </div>    

    <script>
        function clicked(){

        //해볼코드 line 순서때문에 하..

        var codeContainer = document.getElementsByClassName("view-line");;

        //라인들을 다 put하고 후에 array를 line의 top 을가지고 sort할것이다. 그래야 순서대로 정렬이된다.
        //1차원 배열 하나 (모든 (top,linecode) array를 담을 배열)  이름 : AllLines

        var AllLines = [];
        for (var line of codeContainer) {
            //2차원 배열을 만들어 (top.linecode)를 담아준다 이름 : eachLine(굳이 변수안만들고 그냥 넣었다)
            AllLines.push([parseInt(line.style.top.replace("px","")),line.innerText]);
        }
        //top대로 배열 정렬
        for(var j=0; j<AllLines.length ; j++){
            for(var i=0; i<AllLines.length ; i++ ) {
                if(AllLines[j][0] <= AllLines[i][0]){
                    var temp = AllLines[j];
                    AllLines[j] = AllLines[i];
                    AllLines[i] = temp;
                } 
            }
        }
        var code = "";
        for (var line of AllLines) {
            code += line[1] + "\n";
        }
        //해볼코드
        const data = {
            'code':String(code),
            'userId' : userId,
            'quizNum' : quizNum,
        };

        var userId = JSON.parse(localStorage.getItem('UserInfo')).userid;
        var quizNum = document.getElementById("quizInfo_quizNum").innerText;
        /*const userInfo = {
            userId : userId,
            quizNum : quizNum,
        };*/

        var httpRequest;
        
        httpRequest = new XMLHttpRequest();
        
        httpRequest.onreadystatechange = () => {
            
            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                console.log('여기까지');
                console.log(`data : ${data}`);
                    if (httpRequest.status === 200 ||  httpRequest.status == 201) {
                        var res = httpRequest.response;
                        console.log(`성공오나? ${JSON.stringify(res.stdout)}`);
                        console.log(`실패오나? ${JSON.stringify(res.stderr)}`);
                        if(res.code == 200) { // 성공
                            document.getElementById("resultSpace").innerText = res.stdout;
                            document.getElementById("resultSpace").style.color = "white";
                        } else if (res.code == 100) {
                            document.getElementById("resultSpace").innerText = res.stderr;
                            document.getElementById("resultSpace").style.color = "red";
                        }
                        
                        
                    } else {
                        alert('Request Error!');
                    }
                }
            };


            httpRequest.open('POST', 'http://220.67.231.91:80/test',true);

            httpRequest.responseType = "json";

            httpRequest.setRequestHeader("Content-Type", "application/json");  
            
            // userid, 푼 문제 번호 넘겨줘야 함
            httpRequest.send(JSON.stringify(data));
            
            
        }
        </script>
    </script>

</body>
</html>