<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/workBookPython.css"/>

</head>
<body>
    
    
    <div id="container">
        <!-- 맨위 왼쪽의 로고와 오른쪽의 메뉴들을 담는 topcontainer -->
        <div id="topLongContainer" class="bg_cont">
            
            <div id="topLongContainerInnerLeftLogoImg" class="bg_cont">
                <img id="topLongContainerInnerLeftLogoImg_Img" src="/webimg/HSC_mini.png"/>
            </div>
            <!--topLongContainerInnerLeftLogoImg 끝-->
            <!-- 맨위 오른쪽 메뉴들 (홈페이지, 로그인/회원가입 , 학습 , 메뉴 등-->
            <div id="topLongContainerInnerRightMenuList" class="bg_cont">
                <a href="/web/introduce">홈페이지</a>
                <a href="#">로그인 / 회원가입</a>
                <a href="/web/menuList" id="learning">학습</a>
                <a href="/web/mypage">My page</a>
                <a href="#">메뉴</a>
            </div>
            <!--topLongContainerInnerRightMenuList 끝-->
        </div>
        <!-- topLongContainer 끝 -->

        <div id="contentsContainer">

            <!--문제, 문제집, 채점현황, 강의 메뉴들-->
            <div id="topText">
                <div id="topTextRightMenu">
                    <p>문제</p>
                    <select>
                    <!--문제 화살표 클릭하면 어떤 식으로 나와야 하는지?-->
                    </select>
                    <a href="#" id="workbook">문제집</a>
                    <a href="#">채점현황</a>
                    <a href="#">강의</a>
                </div>
            </div>
            <!--topText 끝-->

            <div id="workbookContainer">
                <div id="menuTitle">
                    <p id="number">번호</p> <p id="title">제목</p> <p id="progress">진행도</p>
                </div>

                <!--문제 리스트-->
                <div class="workbookSemiContainer">
                    <div id="workbookSpace">
                        <p id="_number">001</p>
                        <div id="workbook_div">
                            <p id="_title">파이썬 테스트 준비 - 기초</p>
                            <p>수학</p>
                        </div>
                        <!--진행도 막대그래프 표시-->
                        <div id="progress_bar">
                            <div id="_progress"></div>
                        </div>
                    </div>

                    <div id="workbookSpace">
                        <p id="_number">002</p>
                        <div id="workbook_div">
                            <p id="_title">파이썬 테스트 준비 - 기초</p>
                            <p>수학</p>
                        </div>
                        <!--진행도 막대그래프 표시-->
                        <div id="progress_bar">
                            <div id="_progress"></div>
                        </div>
                    </div>

                    <div id="workbookSpace">
                        <p id="_number">003</p>
                        <div id="workbook_div">
                            <p id="_title">파이썬 테스트 준비 - 기초</p>
                            <p>수학</p>
                        </div>
                        <!--진행도 막대그래프 표시-->
                        <div id="progress_bar">
                            <div id="_progress"></div>
                        </div>
                    </div>

                    <div id="workbookSpace">
                        <p id="_number">004</p>
                        <div id="workbook_div">
                            <p id="_title">파이썬 테스트 준비 - 기초</p>
                            <p>수학</p>
                        </div>
                        <!--진행도 막대그래프 표시-->
                        <div id="progress_bar">
                            <div id="_progress"></div>
                        </div>
                    </div>

                    <div id="workbookSpace">
                        <p id="_number">005</p>
                        <div id="workbook_div">
                            <p id="_title">파이썬 테스트 준비 - 기초</p>
                            <p>수학</p>
                        </div>
                        <!--진행도 막대그래프 표시-->
                        <div id="progress_bar">
                            <div id="_progress"></div>
                        </div>
                    </div>

                    <div id="workbookSpace">
                        <p id="_number">006</p>
                        <div id="workbook_div">
                            <p id="_title">파이썬 테스트 준비 - 기초</p>
                            <p>수학</p>
                        </div>
                        <!--진행도 막대그래프 표시-->
                        <div id="progress_bar">
                            <div id="_progress"></div>
                        </div>
                    </div>

                    <div id="workbookSpace">
                        <p id="_number">007</p>
                        <div id="workbook_div">
                            <p id="_title">파이썬 테스트 준비 - 기초</p>
                            <p>수학</p>
                        </div>
                        <!--진행도 막대그래프 표시-->
                        <div id="progress_bar">
                            <div id="_progress"></div>
                        </div>
                    </div>

                    <div id="workbookSpace">
                        <p id="_number">008</p>
                        <div id="workbook_div">
                            <p id="_title">파이썬 테스트 준비 - 기초</p>
                            <p>수학</p>
                        </div>
                        <!--진행도 막대그래프 표시-->
                        <div id="progress_bar">
                            <div id="_progress"></div>
                        </div>
                    </div>

                    <div id="workbookSpace">
                        <p id="_number">009</p>
                        <div id="workbook_div">
                            <p id="_title">파이썬 테스트 준비 - 기초</p>
                            <p>수학</p>
                        </div>
                        <!--진행도 막대그래프 표시-->
                        <div id="progress_bar">
                            <div id="_progress"></div>
                        </div>
                    </div>

                    <div id="workbookSpace">
                        <p id="_number">010</p>
                        <div id="workbook_div">
                            <p id="_title">파이썬 테스트 준비 - 기초</p>
                            <p>수학</p>
                        </div>
                        <!--진행도 막대그래프 표시-->
                        <div id="progress_bar">
                            <div id="_progress"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- videoContainer 끝 -->
        </div> 
        <!--contentsContainer 끝-->
    </div>
    <!--container 끝-->
</body>
</html>