<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/workBookPython.css"/>

</head>
<body>
    
    
    <div id="container">
        <!-- 맨위 왼쪽의 로고와 오른쪽의 메뉴들을 담는 topcontainer -->
        <div id="topLongContainer" class="bg_cont">
            
            <div id="topLongContainerInnerLeftLogoImg" class="bg_cont">
                <img id="topLongContainerInnerLeftLogoImg_Img" src="/webimg/HSC_mini.png"/>
            </div>
            <!--topLongContainerInnerLeftLogoImg 끝-->
            <!-- 맨위 오른쪽 메뉴들 (홈페이지, 로그인/회원가입 , 학습 , 메뉴 등-->
            <div id="topLongContainerInnerRightMenuList" class="bg_cont">
                <a href="http://220.67.231.91:80/web/introduce">홈페이지</a>
                <a href="http://220.67.231.91:80/web/market">제휴 스토어</a>
                <a href="http://220.67.231.91:80/web/menuList" id="learning">학습</a>
                <a href="http://220.67.231.91:80/web/mypage">My page</a>
            </div>
            <!--topLongContainerInnerRightMenuList 끝-->
        </div>
        <!-- topLongContainer 끝 -->

        <div id="contentsContainer">

            <!--문제, 문제집, 채점현황, 강의 메뉴들-->
            <div id="topText">
                <div id="topTextRightMenu">
                    <a href="#" id="workbook">문제집</a>
                    <a href="http://220.67.231.91:80/web/video">강의</a>
                </div>
            </div>
            <!--topText 끝-->

            <div id="workbookContainer">
                <div id="menuTitle">
                    <p id="number">번호</p> <p id="title">제목</p> <p id="progress">해결</p>
                </div>

                <!--문제 리스트-->
                <div class="workbookSemiContainer">
                    <table>
                        <tr>

                            <td>
                                <div id="workbookSpace">
                                    <p id="_number">002</p>
                                    <div id="workbook_div">
                                        <p id="_title">파이썬 테스트 준비 - 기초</p>
                                        <p>수학</p>
                                    </div>
                                    <!--진행도 막대그래프 표시-->
                                    <div id="progress_bar">
                                        <div id="_progress"></div>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
            <!-- videoContainer 끝 -->
        </div> 
        <!--contentsContainer 끝-->
    </div>
    <!--container 끝-->
</body>
</html>