html,body {
    width:100%;
    height:110%;
    margin:0px;
    background:  rgb(242, 242, 242);
}

#topLongContainerInnerLeftLogoImg {
    width:400px;
    margin-left:40px;
    margin-top:30px;
    display: flex;
}
/* 맨위 왼쪽 로고이미지*/
#topLongContainerInnerLeftLogoImg_Img{
    width:200px;
}

#topLongContainerInnerLeftLogoImg p{
    width: 300px;
    padding-left: 20px;
    font-size: 1.8rem;
    color: rgb(3, 56, 136);
    font-weight: bold;
}

/*#container form{
    width: 500px;
    margin: 0 auto;
    margin-top: 150px;
    font-size: 1.5rem;
    border: 5px solid rgb(54, 105, 102);
    border-radius: 30px;
}*/

#contentsContainer_img{
    text-align: center;
    margin-inline: 150px;
    margin-bottom: 30px;
}

#contentsContainer_img img{
     width: 50%;
}

/*#contentsContainer{
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
}*/

#container_title{
    width: 120px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

#container_text{
    width: 400px;
    padding-left: 15px;
}

#container_text div{
    height: auto;
}

#container p{
    margin-bottom: 20px;
    font-size: 1.5rem;
}

#container input{
    border: none;
    font-size: 1.5rem;
    background:  rgb(211, 241, 240);
}

#container input[type="button"]{
    border: 2px solid rgb(211, 241, 240);
    background-color: rgb(211, 241, 240);
    width: 100px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(49, 57, 133);
    border-radius: 10px;
}

p:hover {
    width: 150px;
}